{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Late blight</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'home' %}">Krishi-Vaidye</a></h1>
						
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Late blight</h2>
							
						</header>
						<section class="spotlight">
							<div class="image"><img src="{% static 'images/potato_21.jpg' %}" alt="" /> <br><img src="{% static 'images/potato_22.jpg' %}" alt="" /></div><div class="content">
								<h2>Late blight</h2>
								<h1>Reason of cause</h1>
								<p>Late blight is caused by the fungus Phytophthora infestans and is common throughout the United States.</p>
								<h1>
									Management and Control of late blight of potato 
								</h1>
								<ul>
									<li>Tomato varieties resistant to certain races of the late blight fungus are grown where the disease occurs regularly.</li>
									<li>Remove any nearby volunteer tomato and potato plants and nightshades.</li>
									<li>Check transplants to ensure they are free of late blight before planting.</li>
									<li>Avoid sprinkler irrigation, if possible, because it favors the development of late blight.</li>
									<li>Fungicides are generally needed only if the disease appears during a time of year when rain is likely or overhead irrigation is practiced. Mefenoxam-resistant strains of the pathogen are widespread in California and this fungicide is no longer effective.</li>
									<li>Disc tomato fields in fall to eliminate a winter reservoir for the fungus.</li>

									
									
								</ul>

							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Krishi-Vaidye</li><br>
							<li>Built by: ROHIT VIJAPUR | Shridhar A H | Sachin R Shettigar | Rohit Sahu |</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>